<% provide(:title, "Passwort zurücksetzen") %>

<div class="single-page" id="password-reset-page">
	<h2>Passwort zurücksetzen</h2>
	<div class="soladis-form">
		<%= form_with(model: @user, url: password_reset_path(params[:id]), local: true) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= hidden_field_tag :email, @user.email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Bestätigung" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Neues Passwort speichern" %>
		<% end %>
	</div>
</div>