<% provide(:title, "Alle Tracks") %>

<div class="single-page" id="alle-tracks-page">

	<h2>Alle Tracks <%= link_to (fa_icon "plus-circle"), new_track_path, class: "h2-fa-icon", id: "h2-fa-icon-create-track", alt: "Neuen Track erstellen", title: "Neuen Track erstellen" %> </h2>

	<div id="track-filter">
		<span>Track-Status: </span>
		<%= form_with(url: tracks_url, method: :get, local: true) do |f| %>
				<%= f.label :published do %>
					<%= f.check_box :published %>
					<span>Online</span>
				<% end %>

				<%= f.label :unpublished do %>
					<%= f.check_box :unpublished %>
					<span>Entwurf</span>
				<% end %>

			<%= f.submit "Filtern" %>

		<% end %>
	</div>

	<div>
		<p>Anzahl der Tracks: <%= @tracks.count %> </p>
	</div>
	<div class="index-table">
		<div class="index-heading">Titel</div>
		<div class="index-heading">Status</div>
		<div class="index-heading">Erstellt von</div>
		<div class="index-heading index-aktionen" id="index-heading-aktionen">Aktionen</div>
		
		<!--in übrigen Fällen wird alles angezeigt -->
		<%= render @tracks %>
		<%= will_paginate %>
	</div>

</div>