<div class="soladis-form">
	<%= form_with(model: @user, local: true) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :password, 'Passwort' %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, 'Passwort bestätigen' %>
		<%= f.password_field :password_confirmation %>

		<% if request.path[-5..-1] == "/edit" %>
			<% if current_user.superadmin? %>
				<%= f.label :admin, class: 'user-checkbox' do %>
					<%= f.check_box :admin %>
					<span>Admin</span>
				<% end %>
			<% end %>
		<% end%>

		<%= f.submit yield(:button_text) %>

	<% end %>
		
</div>