<header class="header-footer" id="header">

	<div id="title">
		<div id="soladis-title">
			Soladis-Music
		</div>
		<div id=soladis-subtitle>
			Gemafreie Musik
		</div>
	</div>

	<nav id="header-menu">
		<ul class="nav-ul" id="header-menu-list">
			<li>
				<%= link_to('Home', root_path) %>
			</li>
			<li>
				<%= link_to('In Kürze', in_kuerze_path) %>
			</li>
			<li>
				<%= link_to('Musik', '#') %>
			</li>
			<li>
				<%= link_to('Über mich', ueber_mich_path) %>
			</li>
			<li>
				<%= link_to('Videos', '#') %>
			</li>
			<li>
				<%= link_to('Kontakt', kontakt_path) %>
			</li>
			<% if logged_in? %>
				<li id="meins-list-item">
					<%= link_to '#' do %>
						Meins <i class="fas fa-caret-down"></i>
					<% end %>
					<ul id="user-menu-list">
						<li class="user-menu-item">
							<%= link_to('Mein Profil', current_user) %>
						</li>
						<li class="user-menu-item">
							<%= link_to('Alle User', users_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Alle Tracks', tracks_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Neue Musik', new_track_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Neues Video', '#')%>
						</li>
						<li id="divider-item"><hr></li>
						<li class="user-menu-item", id="logout-item">
							<%= link_to('Ausloggen', logout_path, method: :delete)%>
						</li>
					</ul>	
				</li>
					
			<% end %>
		</ul>
	</nav>
</header>