<header class="header-footer" id="header">

	<div id="title">
		<div id="soladis-title">
			Soladis-Music
		</div>
		<div id=soladis-subtitle>
			Gemafreie Musik
		</div>
	</div>

	<nav id="header-menu">
		<ul class="nav-ul" id="header-menu-list">
			<li>
				<%= link_to('Home', '/') %>
			</li>
			<li>
				<%= link_to('In Kürze', '/in-kuerze') %>
			</li>
			<li>
				<%= link_to('Alle Treks', '#') %>
			</li>
			<li>
				<%= link_to('Über mich', '/ueber-mich') %>
			</li>
			<li>
				<%= link_to('Videos', '#') %>
			</li>
			<li>
				<%= link_to('Kontakt', '/kontakt') %>
			</li>
		</ul>
	</nav>
</header>