<header class="header-footer" id="header">

	<div id="title">
		<div id="soladis-title">
			<span><%= link_to "Soladis-Music", root_path, class:'title-link' %></span>
		</div>
		<div id=soladis-subtitle>
			<%= link_to "Gemafreie Musik", root_path, class:'title-link', id:'subtitle-link' %>
		</div>	
	</div>

	<div class="mobile-menu-bars"><%= fa_icon "bars" %></div>

	<nav class="header-menu">
		<ul class="nav-ul" id="header-menu-list">
			<li>
				<%= active_link_to('Home', root_path, active: :exclusive) %>
			</li>
			<li>
				<%= active_link_to('Musik', all_tracks_path, active: :exclusive) %>
			</li>
			<li>
				<%= active_link_to('Videos', videos_path, active: :exclusive) %>
			</li>
			<li>
				<%= active_link_to('In Kürze', in_kuerze_path, active: :exclusive) %>
			</li>
			<li>
				<%= active_link_to('Über mich', ueber_mich_path, active: :exclusive) %>
			</li>

			<!--<li>
				<%= link_to('Kontakt', kontakt_path) %>
			</li> -->
			<% if logged_in? %>
				<li id="meins-list-item">
					<%= link_to '#' do %>
						Meins <i class="fas fa-caret-down"></i>
					<% end %>
					<ul id="user-menu-list">
						<li class="user-menu-item">
							<%= link_to('Mein Profil', current_user) %>
						</li>
						<li class="user-menu-item">
							<%= link_to('Alle User', users_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Alle Tracks', tracks_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Neue Musik', new_track_path)%>
						</li>
						<li class="user-menu-item">
							<%= link_to('Neues Video', new_video_path)%>
						</li>
						<li id="divider-item"><hr></li>
						<li class="user-menu-item", id="logout-item">
							<%= link_to('Ausloggen', logout_path, method: :delete)%>
						</li>
					</ul>	
				</li>
					
			<% end %>
		</ul>
	</nav>
</header>